#disable_html_escaping()


<table cellpadding="2" cellspacing="0" border="0" width="100%">
<tr>
    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("mercurial.issue-tab.repository")</b></td>
    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("mercurial.issue-tab.branch")</b></td>
    <td bgcolor="#f0f0f0" width="5%"><b>$i18n.getText("mercurial.issue-tab.revision")</b></td>
    <td bgcolor="#f0f0f0" width="15%"><b>$i18n.getText("mercurial.issue-tab.date")</b></td>
    <td bgcolor="#f0f0f0" width="10%"><b>$i18n.getText("mercurial.issue-tab.user")</b></td>
    <td bgcolor="#f0f0f0"><b>$i18n.getText("mercurial.issue-tab.message")</b></td>
</tr>
<tr>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$textutils.htmlEncode( $hg.repositoryDisplayName )</td>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$!hg.revision.branch</td>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$hg.linkRenderer.getRevisionLink($hg.revision)</td>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$!hg.revision.datestr</td>
    <td bgcolor="#ffffff" width="10%" valign="top" rowspan="3">$textutils.htmlEncode( $stringUtils.defaultString( $hg.revision.author ) )</td>
    <td bgcolor="#ffffff">#makelinkedhtml($hg.revision.getMessage().trim())</td>
</tr>
<tr>
    <td bgcolor="#f0f0f0"><b>$i18n.getText("mercurial.issue-tab.files-changed")</b></td>
</tr>
<tr>
    <td bgcolor="#ffffff">
        #foreach ($changePath in $hg.revision.changedPaths)
            #if ($hg.isDeleted($changePath) == true)
                <font color="#990000" size="-2"><b title="Delete">$i18n.getText("mercurial.issue-tab.deleted")</b></font>
            #elseif ($hg.isAdded($changePath) == true)
                <font color="#009900" size="-2"><b title="Add">$i18n.getText("mercurial.issue-tab.added")</b></font>
            #elseif ($hg.isModified($changePath) == true)
                <font color="#999933" size="-2"><b title="Modify">$i18n.getText("mercurial.issue-tab.modified")</b></font>
            #elseif ($hg.isReplaced($changePath) == true)
                <font color="#999933" size="-2"><b title="Replace">$i18n.getText("mercurial.issue-tab.replaced")</b></font>
            #else
                $changePath.hg
            #end
            $hg.linkRenderer.getChangePathLink($hg.revision, $changePath)

            ## TODO hg copyPaths are really just all changes
            ##if ($changePath.copyPath)
                ## (from $hg.linkRenderer.getCopySrcLink($hg.revision, $changePath))
            ##end

            <br>
        #end
    </td>
</tr>
</table>
#set ( $innerClassSeparator = "$" )
#set ( $lastMercurialRevisionActionName = "LastMercurialRevisionActionInPage" )
#if ($hg.class.name == "net.customware.jira.plugins.ext.mercurial.issuetabpanels.changes.MercurialRevisionsTabPanel${innerClassSeparator}${lastMercurialRevisionActionName}")
    <div class="plugin_mercurial_showmore_issuetab">
        <fieldset style="display: none">
            <input type="hidden" name="issueKey" value="">
            <input type="hidden" name="page" value="net.customware.jira.plugins.mercurial-jira-plugin:mercurial-commits-tabpanel">
            <input type="hidden" name="decorator" value="none">
            #if ( $req.getParameter("pageIndex") )
                #set ( $newPageIndex = $textutils.parseInt( $req.getParameter("pageIndex") ) + 1 )
                <input type="hidden" name="pageIndex" value="$newPageIndex">
            #else
                <input type="hidden" name="pageIndex" value="1">
            #end
            <input type="hidden" name="pageSize" value="$!req.getParameter('pageSize')">
        </fieldset>
        <input class="plugin_mercurial_showmore_issuetab_button" type="button" value="More">
    </div>
#end

